$global-background: #f3f6f8;
$sm-background: #eaeef3;
$background--darker: #f5f8fb;
$line--mini: #efeff0;
$division: #e0e4ea;

$black: #000;
$primary: #1e1e23;
$secondary: #767678;
$tertiary: #929294;
$white: #fff;

$green: #03c75a;
$purple: #9761ed;
$blue: #00a8ff;
